/output
/out
/data
build
.vscode
.pytest_cache
.cache
*.pyc
*.pt
*.so
*.o
*.prof
.nfs*
/im2mesh/utils/libmcubes/mcubes.cpp
/im2mesh/utils/libsimplify/simplify_mesh.cpp
/im2mesh/utils/libsimplify/build

cuda-repo-ubuntu2004-11-4-local_11.4.0-470.42.01-1_amd64.deb
*.deb
*.1
*.1
*.deb
*.2
cuda_11.4.3_470.82.01_linux.run
*.run
